<% layout('layouts/boilerplate') %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6 offset-md-3">
        
                <form action="/meniu/cats" method="POST" enctype="multipart/form-data" novalidate class="validated-form">
                    <div class="input-group mb-3">
                        <input type="text" name="categorie[nume]" id="nume" class="form-control text-white bg-dark" placeholder="Denumire Categorie"
                            aria-describedby="basic-addon1" required>
                    </div>
                    <div class="input-group">
                        <!-- <span class="input-group-text text-white bg-dark" for="imagine">Imagine</span> -->
                        <label for="catImg" class="custom-file-upload text-white bg-dark mb-2">Imagine</label>
                        <input type="file" name="catImg" id="catImg" class="form-control form-control-color" placeholder="Poză"
                            aria-describedby="basic-addon1">
                    </div>
                    <div class="input-group mb-3">
                        <textarea class="form-control text-white bg-dark" name="categorie[descriere]" placeholder="Descriere" required></textarea>
                    </div>
                    <button class="btn btn-primary mt-3">Adaugă</button>
                </form>
            </div>
    
        </div>
        </div>
        