<% layout('layouts/boilerplate') %>
    <link rel="stylesheet" href="/stylesheets/home.css">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 offset-md-3 text-white text-center">
                <h1>Salutare!</h1>
                <p class="lead">Bine ai venit la Cafetish! Aici poți sauvura<br>o cafea de specialitate și o carte bună.
                </p>
                <a href="/meniu" class="btn btn-lg btn-secondary font-whight-bold bg-white" id="btn">Meniu</a>
            </div>
        </div>
    </div>

    </html>
